@import 'node_modules/bootstrap/scss/bootstrap';

.HomePage {
  margin-top: 46px;
  .watching_area {
    margin-bottom: 158px;
    text-align: center;
    .text {
      margin-bottom: 45px;
      .heading {
        font-size: 32px;
        line-height: 56px;
      }
      .content {
        font-size: 13px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .watching_img {
      img {
        width: 100%;
      }
    }
  }
  .identity_area {
    .text {
      text-align: center;
      margin: 0 10%;
      .heading {
        margin-bottom: 30px;
        font-size: 32px;
        line-height: 56px;
      }
      .content {
        font-size: 13px;
        line-height: 28px;
        font-weight: 500;
      }
    }
    .identity_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .choice_area {
    position: relative;
    margin-bottom: 129px;
    .choice_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .over_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      .text_container {
        position: absolute;
        width: 100%;
        top: 30%;
        // transform: translate(-50%, 0);
      }
      .heading {
        margin-bottom: 27px;
        font-size: 32px;
        line-height: 56px;
      }
      .why_btn {
        border: 1px solid white;
        display: inline-block;
        padding: 13px 40px;
        font-weight: 500;
        border-radius: 35px 35px;
        vertical-align: center;
        text-transform: uppercase;
        &:hover {
          background: white;
          color: #da6754;
        }
      }
    }
  }
  .video_area {
    display: flex;
    flex-flow: row wrap;
    & > :first-child {
      margin-bottom: 47px;
    }
    .video_container {
      width: 100%;
      .video_widget {
        border-radius: 5px;
        width: 100% !important;
        height: 194px !important;
        margin-bottom: 17px;
        display: flex;
        justify-content: center;
        .react-player__preview {
          width: 317px !important;
          height: 194px !important;
          background-size: cover !important;
          .react-player__shadow {
            border-radius: 50%;
            border: 10px solid #f75a31;
            background: #f75a31 !important;
            .react-player__play-icon {
              border-width: 10px 0px 10px 16px !important;
            }
          }
        }
      }
      .text_container {
        text-align: center;
        .heading {
          font-size: 30px;
          line-height: 35px;
          margin: 0 10%;
          margin-bottom: 18px;
        }
        .content {
          font-size: 12.5px;
          font-weight: 500;
          line-height: 28px;
          margin: 0 10%;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .HomePage {
    .watching_area {
      margin-bottom: 186px;
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      .text {
        margin-bottom: 0;
        order: 2;
        width: 50%;
        .heading,
        .content {
          margin: 0 15% 0 20%;
        }
      }
      .watching_img {
        width: 50%;
        order: 1;
        img {
          margin-right: 20%;
        }
      }
    }
    .identity_area {
      display: flex;
      align-items: center;
      .text {
        margin: 0 7% 0 13%;
        width: 30%;
        text-align: left;
        .heading {
          margin-bottom: 27px;

          font-size: 40px;
          line-height: 56px;
        }
        .content {
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
        }
      }
      .identity_img {
        width: 50%;
        margin: 0 0 0 0;
      }
    }
    .choice_area {
      .over_img {
        .heading {
          font-size: 40px;
          line-height: 56px;
        }
        .why_btn {
          font-size: 15px;
        }
      }
    }
    .video_area {
      .video_container {
        width: 50%;
        margin-bottom: 62px;

        .video_widget {
          padding: 1px;
          height: 330px !important;
          margin-bottom: 62px;
          .react-player__preview {
            width: 540px !important;
            height: 330px !important;
            .react-player__shadow {
              border-radius: 50%;
              border: 50px solid #f75a31;
              background: #f75a31 !important;

              .react-player__play-icon {
                border-width: 15px 0px 15px 26px !important;
              }
            }
          }
        }
        .text_container {
          text-align: left;
          .heading {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 18px;
          }
          .content {
            font-size: 15px;
            font-weight: 500;
            line-height: 28px;
          }
        }
      }
    }
  }
}
