@import 'node_modules/bootstrap/scss/bootstrap';

.StayArea {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  margin-bottom: 52px;
  & > .landscape_case {
    display: none;
  }
  .mobile_case {
    & > .header {
      width: 70%;
      margin: 0 15%;
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 53px;
    }
    & > .stay_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    & > .content {
      width: 80%;
      margin: 0 10%;
      font-size: 12.5px;
      font-weight: 500;
      line-height: 19.6px;
    }
    & > .button_area {
      width: 100%;
      margin-top: 40px;
      & > :not(:last-child) {
        margin-bottom: 23px;
      }

      img {
        display: block;
        margin: 0 auto;
        &:hover {
          filter: hue-rotate(40deg);
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .StayArea {
    margin-bottom: 0;

    .mobile_case {
      display: none;
    }
    .landscape_case {
      display: block;
      position: relative;
      text-align: left;
      width: 100%;
      .bg {
        width: 100%;
      }
      .text_area {
        .header {
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 32px;
        }
        .content {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 34px;
        }
        .button_area {
          img {
            margin-right: 16px;
            margin-bottom: 20px;
            width: 40%;
          }
        }
        position: absolute;
        top: 15%;
        left: 11%;
        width: 38%;
      }
    }
  }
}
