@import 'node_modules/bootstrap/scss/bootstrap';

.LandingHeader {
  padding: 12px 0;
  background: rgba(255, 255, 255, 0.8);
  .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    &:first {
      margin-right: 32px;
    }
    font-size: 13px;
    color: black;
    &:hover {
      color: #da6754;
    }
    .active {
      color: #da6754;
    }
  }
  .landscape {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .navbar-light .navbar-nav .nav-link.landscape {
    display: inherit;
  }
  .navbar-light .navbar-nav .nav-link.mobile {
    display: none;
  }
}
