@import 'node_modules/bootstrap/scss/bootstrap';

.LandingTop {
  padding-top: 100px;
  .text_area {
    text-align: center;
    margin: 0 15%;
    margin-top: 63px;
    .rwd-break {
      display: none;
    }
    .heading {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 22px;
    }
    .content {
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 34px;
    }
    @supports (-webkit-overflow-scrolling: touch) {
      .app_store {
        display: inline-block;
      }
      .google_store {
        display: none;
      }
    }
    @supports not (-webkit-overflow-scrolling: touch) {
      .app_store {
        display: none;
      }
      .google_store {
        display: inline-block;
      }
    }
  }

  .image_area {
    width: 100%;
    height: calc(100vw * 800 / 1440);
    margin-top: 52px;
    position: relative;

    img {
      width: 100%;
    }
    .plane_img {
      z-index: 1000;
      top: 0;
      left: 0;
      width: 50%;
    }
    .animated {
      position: absolute;
    }
    .top_mountain,
    .middle_mountain {
      left: 0;
      bottom: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .bottom_mountain {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .phone_back {
      width: (100% * 360/1440);
      left: (100% * 902/1440);
      bottom: 36%;
      z-index: 1000;
    }
    .phone_front {
      width: 29%;
      left: 53%;
      bottom: 27%;
      z-index: 1001;
    }
    .lady {
      width: calc(100% * 214 / 1440);
      left: calc(100% * 662 / 1440);
      bottom: 21%;
      z-index: 999;
    }
    .man {
      width: calc(100% * 100 / 1440);
      left: calc(100% * 1242 / 1440);
      bottom: 42%;
      z-index: 999;
    }
  }
}

@include media-breakpoint-up(lg) {
  .LandingTop {
    position: relative;
    .text_area {
      z-index: 1002;
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      margin: 0;
      margin-left: 15%;
      margin-top: 10%;
      text-align: left;
      .rwd-break {
        display: block;
      }
      .heading {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 52px;
      }
      .content {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 34px;
      }
      .app_store {
        margin-right: 12px;
      }
      .google_store {
        margin-left: 12px;
      }
      @supports (-webkit-overflow-scrolling: touch) {
        .app_store {
          display: inline-block;
        }
        .google_store {
          display: inline-block;
        }
      }
      @supports not (-webkit-overflow-scrolling: touch) {
        .app_store {
          display: inline-block;
        }
        .google_store {
          display: inline-block;
        }
      }
    }
  }
}

@-webkit-keyframes bounceInUpOneTime {
  from,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.21, 0.61, 1);
    animation-timing-function: cubic-bezier(0.21, 0.61, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUpOneTime {
  from,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.21, 0.61, 1);
    animation-timing-function: cubic-bezier(0.21, 0.61, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUpOneTime {
  -webkit-animation-name: bounceInUpOneTime;
  animation-name: bounceInUpOneTime;
}

@-webkit-keyframes bounceInUpOneTimeMiddleMountain {
  from,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.61, 0.21, 1);
    animation-timing-function: cubic-bezier(0.61, 0.21, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUpOneTimeMiddleMountain {
  from,
  60%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.61, 0.21, 1);
    animation-timing-function: cubic-bezier(0.61, 0.21, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUpOneTimeMiddleMountain {
  -webkit-animation-name: bounceInUpOneTimeMiddleMountain;
  animation-name: bounceInUpOneTimeMiddleMountain;
}
.LadyPopUp {
  animation: LadyPopUp ease 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: LadyPopUp ease 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: LadyPopUp ease 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: LadyPopUp ease 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: LadyPopUp ease 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes LadyPopUp {
  0% {
    transform: translate(calc(169 * 100vw / 1440), calc(-184 * 100vw / 1440));
  }
  68% {
    transform: translate(calc(169 * 100vw / 1440), calc(-184 * 100vw / 1440));
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes LadyPopUp {
  0% {
    -moz-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  68% {
    -moz-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes LadyPopUp {
  0% {
    -webkit-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  68% {
    -webkit-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes LadyPopUp {
  0% {
    -o-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  68% {
    -o-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes LadyPopUp {
  0% {
    -ms-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  68% {
    -ms-transform: translate(
      calc(169 * 100vw / 1440),
      calc(-184 * 100vw / 1440)
    );
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}

.ManPopUp {
  animation: ManPopUp ease 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: ManPopUp ease 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: ManPopUp ease 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: ManPopUp ease 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: ManPopUp ease 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes ManPopUp {
  0% {
    transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  68% {
    transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes ManPopUp {
  0% {
    -moz-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  68% {
    -moz-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes ManPopUp {
  0% {
    -webkit-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  68% {
    -webkit-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes ManPopUp {
  0% {
    -o-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  68% {
    -o-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes ManPopUp {
  0% {
    -ms-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  68% {
    -ms-transform: translate((-195 * 100vw/1440), (-156 * 100vw/1440));
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}

.slideInUpCustom {
  animation: slideInUpCustom linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: slideInUpCustom linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slideInUpCustom linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: slideInUpCustom linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: slideInUpCustom linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes slideInUpCustom {
  0% {
    opacity: 0.1;
    transform: translate(-1px, 49px);
  }
  100% {
    opacity: 0.1;
    transform: translate(-1px, -1px);
  }
}

@-moz-keyframes slideInUpCustom {
  0% {
    opacity: 0.1;
    -moz-transform: translate(-1px, 49px);
  }
  100% {
    opacity: 0.1;
    -moz-transform: translate(-1px, -1px);
  }
}

@-webkit-keyframes slideInUpCustom {
  0% {
    opacity: 0.1;
    -webkit-transform: translate(-1px, 49px);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: translate(-1px, -1px);
  }
}

@-o-keyframes slideInUpCustom {
  0% {
    opacity: 0.1;
    -o-transform: translate(-1px, 49px);
  }
  100% {
    opacity: 0.1;
    -o-transform: translate(-1px, -1px);
  }
}

@-ms-keyframes slideInUpCustom {
  0% {
    opacity: 0.1;
    -ms-transform: translate(-1px, 49px);
  }
  100% {
    opacity: 0.1;
    -ms-transform: translate(-1px, -1px);
  }
}

@-webkit-keyframes slideInUpBottomMountain {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUpBottomMountain {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUpBottomMountain {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
