@import "node_modules/bootstrap/scss/bootstrap";

.contact {
  padding-top: 100px;
  text-align: center;
  color: #232146;
  img {
    width: 100%;
  }
}

.hear {
  font-family: "Raleway", sans-serif;

  font-size: 32px;
  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
  line-height: 35px;
  text-align: center;
  .you {
    color: #da6754;
  }
}

.touch {
  color: #212353;
  font-size: 12.5px;
  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .rwd-break {
    display: none;
  }
}

.social-area {
  .social-icons {
    .animated {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 19px;
      }
    }
    .social-icon-border {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: #da6754 solid 1px;
      display: inline-block;
      &:hover {
        background: #da6754;
        svg {
          path {
            fill: white;
          }
        }
      }
      .social-icon {
        width: 23px;
        height: 23px;
        margin-top: 15px;
        color: #da6754;
      }
    }
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fadeIn_SliderUp {
  0% {
    transform: rotate(0) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn_SliderUp {
  0% {
    -webkit-transform: rotate(0) translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn_SliderUp {
  animation: fadeIn_SliderUp 1s forwards 0s ease;
}
