@import 'node_modules/bootstrap/scss/bootstrap';

.contact {
  padding-top: 100px;
  text-align: center;
  color: #232146;
  img {
    width: 100%;
  }
}

.hear {
  font-family: 'Raleway', sans-serif;

  font-size: 32px;
  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
  line-height: 35px;
  text-align: center;
  .you {
    color: #da6754;
  }
}

.touch {
  color: #212353;
  font-size: 12.5px;
  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .rwd-break {
    display: none;
  }
}

.social-area {
  .social-icons {
    .social-icon-border {
      &:not(:last-child) {
        margin-right: 19px;
      }
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: #da6754 solid 1px;
      display: inline-block;
      &:hover {
        background: #da6754;
        svg {
          path {
            fill: white;
          }
        }
      }
      .social-icon {
        width: 23px;
        height: 23px;
        margin-top: 15px;
        color: #da6754;
      }
    }
  }
}
