body {
  font-family: 'Raleway', sans-serif;
}

.Header {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  padding: 4px 0;
  .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    margin-right: 32px;
    font-size: 13px;
    line-height: 60px;
    color: black;
    text-align: center;
    &:hover {
      color: #da6754;
    }
    .active {
      color: #da6754;
    }
  }
}

.color_red {
  color: #da6754;
}
