@import 'node_modules/bootstrap/scss/bootstrap';

.TheDifferencePage {
  padding-top: 100px;
  color: #212353;
  .line_break_landscape {
    display: none;
  }

  .not_average {
    margin-top: 34px;
    margin-bottom: 65px;
    text-align: center;

    .big_text {
      margin-bottom: 25px;
      line-height: 35px;
      font-size: 32px;
      .messenger {
        color: #da6754;
      }
    }
    .difference_top_bg {
      width: 100%;
      margin-bottom: 12px;
    }
    .text {
      font-size: 12.5px;
      font-weight: 500;
      line-height: 19.6px;

      .top_half {
        margin-bottom: 19px;
      }
    }
  }

  .decentralized {
    flex-flow: row wrap;
    text-align: center;
    margin-bottom: 46px;
    .text {
      order: 1;
      margin-bottom: 25px;
      width: 100%;
      .header {
        font-size: 32px;
        line-height: 41px;
      }
      .small_text_landscape {
        display: none;
      }
    }
    .image_area {
      order: 2;
      width: 100%;
      .phone {
        width: 100%;
      }
      .swing_animation {
        display: flex;
        justify-content: center;
        .peer_text {
          transform: scale(0.8);
        }
      }
    }
    .small_text {
      width: 100%;
      font-size: 12.5px;
      font-weight: 500;
      line-height: 28px;
      .up_half {
        margin-bottom: 34px;
      }
    }
  }
  .storage {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 94px;

    .text {
      width: 100%;
      text-align: center;
      margin-bottom: 47px;
      .header {
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 25px;
      }
      .content {
        margin: 0 10%;
        font-size: 12.5px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .storage_img {
      width: 100%;
      img {
        width: 100%;
      }
      .image_capsule{
        position: relative;
      }
      .storage_red_box{
        position: absolute;
        left: 55.2%;
        top: 49.5%;
        width: calc(100vw * 110/375);
        z-index: 1001;
      }
      .storage_red_box_chain{
        position: absolute;
        left: 55.2%;
        top: 47%;
        width: calc(100vw * 32/375);
        z-index: 1000;

      }

    }
  }
  .token {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 50px;
    .text {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      .header {
        margin-bottom: 13px;

        font-size: 32px;
        line-height: 41px;
      }
      .content {
        font-size: 12.5px;
        margin: 0 10% 0 10%;
        line-height: 28px;
      }
      .features {
        display: none;
      }
    }
    .token_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .footer_adaptive_bg {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .TheDifferencePage {
    .line_break_mobile {
      display: none;
    }
    .line_break_landscape {
      display: initial;
    }

    .not_average {
      margin-top: 97px;
      margin-bottom: 0px;

      .line_break_mobile {
        display: none;
      }
      .big_text {
        margin-bottom: 15px;
        line-height: 56px;
        font-size: 40px;
      }
      .difference_top_bg {
        width: 100%;
        margin-bottom: 0px;
      }
      .content_area {
        position: relative;
        display: flex;
        justify-content: center;
      }
      .text {
        top: 0;
        position: absolute;

        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        .top_half {
          margin-bottom: 0;
        }
      }
    }

    .decentralized {
      display: flex;
      text-align: unset;
      .text {
        order: 2;
        display: inline-block;
        margin-top: 6%;
        margin-bottom: 0;
        width: 50%;
        .header {
          font-size: 32px;
          line-height: 41px;
          margin-bottom: 18px;
        }
        .small_text_landscape {
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
          .up_half {
            margin-bottom: 20px;
          }
          display: block;
        }
      }
      .image_area {
        order: 1;
        width: 50%;
        .phone {
          width: 100%;
        }
        .swing_animation {
          .peer_text {
            transform: scale(1);
          }
        }
      }
      & > .small_text {
        display: none;
      }
    }
    .storage {
      margin-bottom: 180px;

      .text {
        margin-top: 8%;
        width: 50%;
        text-align: left;
        margin-bottom: 47px;
        .header {
          margin: 0 20% 0 20%;

          font-size: 40px;
          line-height: 47px;
          margin-bottom: 17px;
        }
        .content {
          margin: 0 20% 0 20%;
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
        }
      }
      .storage_img {
        width: 50%;
        img {
          width: 100%;
          // margin-left: 20%;
        }
        .storage_red_box{
          left: 36.2%;
          top: 47.5%;
          width: calc(100vw * 50/375);
        }
        .storage_red_box_chain{
          position: absolute;
          left: 35.2%;
          top: 45%;
          width: calc(100vw * 13/375);
        }
  
  
      }
    }
    .token {
      margin-bottom: 50px;
      .text {
        text-align: left;

        order: 2;
        width: 50%;
        margin-top: 54px;
        .header {
          margin-bottom: 17px;

          font-size: 40px;
          line-height: 47px;
        }
        .content {
          font-size: 15px;
          line-height: 28px;
          margin: 0;
          line-height: 28px;
        }
        .features {
          display: block;
          margin-top: 24px;
          .feature_list {
            margin-bottom: 49px;
            list-style-type: none;
            .feature_item {
              display: flex;
              align-items: center;
              margin-bottom: 13px;
              img {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .token_img {
        order: 1;
        width: 40%;
        margin-right: 10%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes fadeIn_SlideDown {
  0% {
    transform: rotate(0) translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn_SlideDown {
  0% {
    -webkit-transform: rotate(0) translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn_SlideDown {
  animation: fadeIn_SlideDown 1s forwards 0s ease;
}

.chain-animation{
  animation: chain-animation linear 1s;
  animation-iteration-count: 1;
  transform-origin: 0% 50%;
  -webkit-animation: chain-animation linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: chain-animation linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: chain-animation linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: chain-animation linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes chain-animation{
  0% {
    transform: translate(50%,0) scaleX(0) ;
  }
  100% {
transform: translate(0,0) scaleX(1);
  }
}

@-moz-keyframes chain-animation{
  0% {
    width:  0 ;
  }
  100% {
width: 100%;
  }
}

@-webkit-keyframes chain-animation {
  0% {
    width:  0 ;
  }
  100% {
width: 100%;
  }
}

@-o-keyframes chain-animation {
  0% {
    width:  0 ;
  }
  100% {
width: 100%;
  }
}

@-ms-keyframes chain-animation {
  0% {
    width:  0 ;
  }
  100% {
width: 100%;
  }
}