@import 'node_modules/bootstrap/scss/bootstrap';

.color_red {
  color: #da6754;
}
.TheDifferencePage {
  color: #212353;
  .line_break_landscape {
    display: none;
  }

  .not_average {
    margin-top: 34px;
    margin-bottom: 65px;
    text-align: center;

    .big_text {
      margin-bottom: 25px;
      line-height: 35px;
      font-size: 32px;
      .messenger {
        color: #da6754;
      }
    }
    .difference_top_bg {
      width: 100%;
      margin-bottom: 12px;
    }
    .text {
      font-size: 12.5px;
      font-weight: 500;
      line-height: 19.6px;

      .top_half {
        margin-bottom: 19px;
      }
    }
  }

  .decentralized {
    flex-flow: row wrap;
    text-align: center;
    margin-bottom: 46px;
    .text {
      order: 1;
      margin-bottom: 25px;
      width: 100%;
      .header {
        font-size: 32px;
        line-height: 41px;
      }
      .small_text_landscape {
        display: none;
      }
    }
    .phone {
      order: 2;
      width: 100%;
    }
    .small_text {
      width: 100%;
      font-size: 12.5px;
      font-weight: 500;
      line-height: 28px;
      .up_half {
        margin-bottom: 34px;
      }
    }
  }
  .storage {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 94px;
    .text {
      width: 100%;
      text-align: center;
      margin-bottom: 47px;
      .header {
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 25px;
      }
      .content {
        margin: 0 10%;
        font-size: 12.5px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .storage_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .token {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 50px;
    .text {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      .header {
        margin-bottom: 13px;

        font-size: 32px;
        line-height: 41px;
      }
      .content {
        font-size: 12.5px;
        margin: 0 10% 0 10%;
        line-height: 28px;
      }
      .features {
        display: none;
      }
    }
    .token_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .footer_adaptive_bg {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .TheDifferencePage {
    .line_break_mobile {
      display: none;
    }
    .line_break_landscape {
      display: initial;
    }

    .not_average {
      margin-top: 97px;
      margin-bottom: 0px;

      .line_break_mobile {
        display: none;
      }
      .big_text {
        margin-bottom: 15px;
        line-height: 56px;
        font-size: 40px;
      }
      .difference_top_bg {
        width: 100%;
        margin-bottom: 0px;
      }
      .content_area {
        position: relative;
        display: flex;
        justify-content: center;
      }
      .text {
        top: 0;
        position: absolute;

        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        .top_half {
          margin-bottom: 0;
        }
      }
    }

    .decentralized {
      display: flex;
      text-align: unset;
      .text {
        order: 2;
        display: inline-block;
        margin-top: 133px;
        margin-bottom: 25px;
        width: 50%;
        .header {
          font-size: 32px;
          line-height: 41px;
          margin-bottom: 18px;
        }
        .small_text_landscape {
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
          .up_half {
            margin-bottom: 20px;
          }
          display: block;
        }
      }
      .phone {
        order: 1;
        width: 50%;
      }
      & > .small_text {
        display: none;
      }
    }
    .storage {
      margin-bottom: 180px;

      .text {
        margin-top: 71px;
        width: 50%;
        text-align: left;
        margin-bottom: 47px;
        .header {
          margin: 0 10% 0 30%;

          font-size: 40px;
          line-height: 47px;
          margin-bottom: 17px;
        }
        .content {
          margin: 0 10% 0 30%;
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
        }
      }
      .storage_img {
        width: 50%;
        img {
          width: 70%;
          margin: 0 10%;
          box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .token {
      margin-bottom: 50px;
      .text {
        text-align: left;

        order: 2;
        width: 50%;
        margin-top: 54px;
        .header {
          margin-bottom: 17px;

          font-size: 40px;
          line-height: 47px;
        }
        .content {
          font-size: 15px;
          line-height: 28px;
          margin: 0;
          line-height: 28px;
        }
        .features {
          display: block;
          margin-top: 24px;
          .feature_list {
            margin-bottom: 49px;
            list-style-type: none;
            .feature_item {
              display: flex;
              align-items: center;
              margin-bottom: 13px;
              img {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .token_img {
        order: 1;
        width: 40%;
        margin-right: 10%;
        img {
          width: 100%;
        }
      }
    }
  }
}
