@import 'node_modules/bootstrap/scss/bootstrap';

.CommunicationArea {
  margin-bottom: 98px;
  position: relative;
  .carousel {
    display: none;
  }
  .landscape_head_text {
    display: none;
  }
  .box_area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .left,
    .right {
      width: 100%;
    }
    .box_content {
      display: flex;
      flex-flow: row wrap;

      width: 70%;
      margin: 0 15%;
      margin-bottom: 26px;
      padding: 28px 0;
      border: 1px solid #fefefe;
      border-radius: 15px;
      box-shadow: -2px -3px 25px 2px #ddd;
      transition: 0.5s;
      &:hover {
        color: white;
        background: #df4a43;
        .communication_icon {
          color: #df4a43;
          border-color: #fffeff;
        }
      }
      .text {
        width: 73%;
        .header {
          font-size: 12px;
          font-weight: 600;
          line-height: 20.3px;
          margin-bottom: 9px;
        }
        .content {
          font-size: 10px;
          line-height: 16.8px;
          font-weight: 500;
        }
      }
      .icon_border {
        width: 27%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .communication_icon {
        margin: auto auto;
        width: 35px;
        height: 35px;
        border: 10px solid #f1f6fc;
        background: #fff;
        color: #b7bcc2;
        border-radius: 50%;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .box_area {
    .left,
    .right {
      .box_content {
        .text {
          .header {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
          }
          .content {
            font-size: 13px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .CommunicationArea {
    // position: relative;
    // margin-bottom: 166px;
    .carousel {
      display: unset;
      .svg_content {
        width: 100%;
        margin-top: 10%;
        .phone_img {
          transition: 1s;
        }
      }
    }
    .communication_bg {
      img {
        display: block;
        padding-top: 129px;
        width: 50%;
        margin: 0 auto;
      }
    }
    .over_img_area {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
    .landscape_head_text {
      display: block;
      text-align: center;
      .top_head {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 18px;
      }
      .top_content {
        margin: 0 25%;
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .box_area {
      margin-top: calc(100 / 1440 * 100vw);

      .left,
      .right {
        width: 50%;
        & > div {
          width: 50%;
          margin: 0 auto;
          margin-bottom: 50px;
        }
      }
      .left {
        .icon_border {
          order: 1;
        }
        .text {
          text-align: right;
        }
      }
      .right {
        .text {
          order: 1;
          text-align: left;
        }
      }
      .box_content {
        background: white;
        flex-flow: row wrap;
        display: flex;
        .text {
          .header {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
          }
          .content {
            font-size: 13px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@-moz-keyframes rotation_clockwise {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation_clockwise {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation_clockwise {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
