@import 'node_modules/bootstrap/scss/bootstrap';

.Footer {
  background: #f1f6fc;
  .download-area {
    width: 100%;
    border-bottom: 1px solid #e1e6ec;
  }

  .bottom_line {
    display: flex;
    flex-flow: row wrap;
    padding-top: 59px;
    .gecko_area {
      order: 4;
      width: 100%;
      padding-bottom: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: #232757;
        &:hover {
          color: #f15b29;
          text-decoration:none;
          img{
            filter: invert(48%) sepia(43%) saturate(3856%) hue-rotate(343deg) brightness(95%) contrast(99%);
          }
        }
        & > :not(:last-child) {
          padding-right: 11px;
        }
        span {
          font-size: 13px;
        }

      }
    }
    .introduction_text_area {
      display: flex;
      justify-content: center;
      padding-bottom: 68px;
      order: 1;
      width: 100%;
      & > :not(:last-child) {
        padding-right: 25px;
      }
      span {
        font-size: 13px;
        font-weight: bold;
        &:hover {
          color: #df4a43;
        }
      }
    }
    .social_icon_area {
      order: 2;
      width: 100%;
      flex-flow: row wrap;
      margin-bottom: 59px;

      justify-content: center;
      .up {
        width: 100%;
        display: flex;
        justify-content: center;
        & > :not(:last-child) {
          margin-right: 13px;
        }
        margin-bottom: 20px;
      }
      .down {
        width: 100%;
        display: flex;
        justify-content: center;
        & > :not(:last-child) {
          margin-right: 13px;
        }
      }
      .social_icon {
        width: 25px;
        height: 25px;
        border: 5px solid #232146;
        background: #232146;
        color: white;
        border-radius: 50%;
        transition: 0.5s;
        &:hover {
          border: 5px solid #df4a43;
          color: #fff;
          background: #df4a43;
        }
      }
    }
    .privacy_area {
      display: flex;
      justify-content: center;
      order: 3;
      width: 100%;
      margin-bottom: 48px;
      & > :not(:last-child) {
        margin-right: 26px;
      }
      .policy:hover{
        color: #df4a43;
      }
      span {
        font-size: 13px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .bottom_line {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 78%;
      .gecko_area {
        width: 20%;
        padding-bottom: 0px;
        order: 1;
        margin-left: auto;
        margin-right: auto;
      }
      .introduction_text_area {
        width: 25%;
        padding-bottom: 0px;
        align-items: center;
        order: 2;
        margin-left: auto;
        margin-right: auto;
      }
      .social_icon_area {
        width: 305px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;

        order: 3;
        display: flex;
        align-items: center;
        .up {
          display: inline-block;
          margin-bottom: 0;
          width: 50%;
        }
        .down {
          display: inline-block;
          width: 50%;
        }
      }
      .privacy_area {
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        margin-bottom: 0;
        align-items: center;
        order: 4;
      }
    }
  }
}
